$smartphone: "only screen and (max-width: 479px)";
$smartphone-landscape: "only screen and (min-width: 480px) and (max-width: 767px)";
$tablet-landscape: "only screen and (min-width: 769px) and (max-width: 1024px)";
$tablet: "only screen and (min-width: 480px) and (max-width: 768px)";
$desktop: "only screen and (min-width: 1025px)";