.active {
  border-bottom: 2px solid green; }

.product-card {
  min-height: 500px; }

.image img {
  height: 20vh;
  width: 30vw; }

footer {
  bottom: 0;
  position: absolute; }

html, body {
  margin: 0;
  height: 100%; }

body {
  position: relative; }
